alias cat='bat'
alias ls='eza --git'
alias ll='eza -la --git'
alias tree='tree -C'
alias ssh-stop='ssh -O stop'
alias sssh='ssh -o "UserKnownHostsFile /dev/null" -o "StrictHostKeyChecking no"'
alias nv='nvim'
alias vim='nvim'
alias gitl='git log'
alias gits='git status'
alias gitc='git commit'
alias gitp='git pull'
alias dc='docker-compose'
alias git-home='cd $(git rev-parse --show-toplevel)'
alias cpv='rsync -ah --info=progress2'
alias sizeof='du --human-readable --summarize'
