[alias]
  s = status
  co = checkout
  cp = cherry-pick
  c = commit -pv
  cm = commit -m
  fu = commit --fixup
  br = branch
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  l = log
  a = commit -v --amend --reuse-message=HEAD
  cu = commit --amend
  nb = checkout -b
  wipe = reset --hard
  abort = rebase --abort
  cont = rebase --continue
  yolo = push --force
  pop = stash pop
  squash = rebase --autosquash -i
  go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"
  pb = checkout --orphan

[apply]
  whitespace = fix

[branch]
  autosetuprebase = always

[color]
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[commit]
  gpgsign = true

[core]
  editor = vim
  quotepath = false
  trustctime = false
  precomposeunicode = false
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space

[init]
  defaultBranch = main

[diff]
  algorithm = patience
  renames = copies

[diff "bin"]
  textconv = hexdump -v -C

[difftool]
  prompt = false

[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f

[help]
  autocorrect = 1

[merge]
  tool = opendiff

[mergetool]
  keepBackup = false
  prompt = false

[mergetool "vimdiff"]
  cmd = "nvim -d $BASE \"$LOCAL\" \"$REMOTE\" \"$MERGED\" -c '$wincmd w' -c 'wincmd J'"

[push]
  default = current

[pull]
  rebase = true

[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
  insteadOf = "github:"

[url "git@github.com:"]
  insteadOf = "https://github.com/"

[url "git@gitlab.com:"]
  insteadOf = "gl:"
  pushInsteadOf = "gitlab:"
  pushInsteadOf = "git://gitlab.com/"

[url "git://gitlab.com/"]
  insteadOf = "gitlab:"

[user]
  email = marty@zalega.me
  name = Marty Zalega

[include]
  path = ~/.gitconfig_local
